body {
    background-color:black; 
}

#question {
    color: #2FF3E0;
    font-size: 3.5vw; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    position: absolute;
    top: 50%;
    right: 20%;
    -ms-transform: translateY(-30%);
    transform: translateY(-50%);
    border:15px dotted #4C5270;
    padding: 10px;
    width: 40vw;
    height:auto;
    margin:25px;
}

#answer {
    color: #FA26A0;
    font-size: 3.5vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    position: absolute;
    top: 75%;
    right: 20%;
    -ms-transform: translateY(-30%);
    transform: translateY(-50%);
    border:15px dotted #4C5270;
    padding: 10px;
    width: 40vw;
    height: auto;
    margin: 25px;
}

p {
    width: 40vw;
    text-align: center;
    font-size: 7.75vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    padding-right: 23vw;
    padding-bottom: 10vw;
    background: -webkit-linear-gradient(#e6a709, #b01c46);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 
.heading {
    float:right;   
}
 
a {
    float:left;
    max-width: 20vw;
    height: auto;
    margin: 3vw;
}
    
button {
    margin: 0;
    position: absolute;
    top: 70%;
    right: 72%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 195px;
    width: 20vw;
    height: 15vw;
    font-size: 4vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F8D210;
    
}

